<!DOCTYPE html>
<html lang="en">
    <head>
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta http-equiv="content-type" content="text/html; charset=utf-8">

      <!-- Enable responsiveness on mobile devices-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

      <title>Baz&#x27;s blog</title>

      
        <link rel="alternate" type="application/atom+xml" title="RSS" href="https://baz.ee/atom.xml">
      

      
          <link rel="stylesheet" href="https://baz.ee/site.css">
      

      
      
    </head>

    <body class="hack dark main container">
        
    
        
                
                    <header>
                        <nav itemscope itemtype="http://schema.org/SiteNavigationElement">
                        
                            <a itemprop="url"
                               class=""
                               href="https:&#x2F;&#x2F;baz.ee">
                                <span itemprop="name">Home
                                </span></a>
                        
                            <a itemprop="url"
                               class=""
                               href="https:&#x2F;&#x2F;baz.ee&#x2F;categories">
                                <span itemprop="name">Categories
                                </span></a>
                        
                            <a itemprop="url"
                               class=""
                               href="https:&#x2F;&#x2F;baz.ee&#x2F;tags">
                                <span itemprop="name">Tags
                                </span></a>
                        
                        </nav>
                    </header>
                
            
    

<article itemscope itemtype="http://schema.org/BlogPosting">
    <header>
        <h1 itemprop="headline">Django</h1>
        <span class="muted">
    <svg style="margin-bottom:-3px" class="i-clock" viewBox="0 0 32 32"
         width="16" height="16" fill="none" stroke="currentcolor"
         stroke-linecap="round" stroke-linejoin="round" stroke-width="6.25%">
        <circle cx="16" cy="16" r="14"/>
        <path d="M16 8 L16 16 20 20"/>
    </svg>
    <span>20 minute read</span>
    <svg style="margin-bottom: -3px" class="i-edit" viewBox="0 0 32 32"
         width="16" height="16" fill="none" stroke="currentcolor"
         stroke-linecap="round" stroke-linejoin="round" stroke-width="6.25%">
        <path d="M30 7 L25 2 5 22 3 29 10 27 Z M21 6 L26 11 Z M5 22 L10 27 Z"/>
    </svg>

    Published: 2020-08-31
</span>
    </header>
    <div itemprop="articleBody">
      <p>Django基础</p>
<p>什么是框架？</p>
<p>框架是一组封装完好的程序包，软件开发者基于框架可以快速高效的开发出符合代码规格的产品</p>
<span id="continue-reading"></span>
<p>框架的本质就是将一堆可以复用的代码提取出来，减少重复造轮子，开发者只需要专注于核心业务逻辑和代码</p>
<p>常见的框架：</p>
<p>web前端框架：BootStrap  JQuery React</p>
<p>web后端框架：Django   Flask   Struts   Sprint   ThinkPHP</p>
<p>安全渗透：Metaspolit</p>
<p>Django介绍</p>
<p>Django是目前最流行最成熟的Python web框架之一</p>
<p>免费开源</p>
<p>特点：</p>
<ol>
<li>社区活跃，功能全面，文档完整，开发案例最多</li>
<li>全面支持ORM数据库的操作，管理后台，表单处理，URL映射、HTML模板引擎等一系列的web解决方案</li>
<li>基于MVC/MTV架构，使得各个模块之间相互独立又能有效组合，有非常好的拓展性。</li>
</ol>
<p>MVC架构：</p>
<p><img src="images/Django/image-20200827011332960.png" alt="image-20200827011332960" /></p>
<p>controller：控制器，作为model和view的桥梁，接收用户请求，获取和更新model中的数据，告知view该如何呈现</p>
<p>model：模型，负责与web业务相关的数据逻辑处理，包括数据库的增删查改等操作</p>
<p>view：视图，负责数据的显示和呈现，显示的内容基于model数据</p>
<p>MTV架构：</p>
<p><img src="images/Django/image-20200827011442060.png" alt="image-20200827011442060" /></p>
<p>model：与MVC中的model功能一致</p>
<p>view：类似于MVC中的controller</p>
<p>template：类似于MVC中的view</p>
<p>数据逻辑（model）涉及到数据操作，例如MySQL</p>
<p>视图逻辑（template）涉及web前端页面的开发。HTML、CSS、JS</p>
<p>控制逻辑（view）涉及web后端开发技术。Python、PHP、Java</p>
<p>Django环境安装：pip3 install  -i https://pypi.tuna.tsinghua.edu.cn/simple django==2.2.7</p>
<p>查看安装：pip3(pip) list</p>
<p>升级pip：pip install --upgrade pip -i https://pypi.tuna.tsinghua.edu.cn/simple</p>
<p>安装数据库驱动：pip3 install mysql-connector-python -i https://pypi.tuna.tsinghua.edu.cn/simple</p>
<p>kali启动数据库：service mysql start</p>
<p>然后通过命令mysql -u root -p进行登录，默认密码为root</p>
<p>创建项目</p>
<p>Django-admin startproject mysite</p>
<p>创建成功之后，有mysite文件夹还有一个manage.py</p>
<p>urls.py 网址映射，将用户输入的url映射到后台逻辑视图</p>
<p>setting.py 全局系统参数设置</p>
<p>wsgi.py 定义WSGI接口，用来与web服务器联动</p>
<p>_<em>init</em>_.py 让Python把该目录当做是一个开发包</p>
<p>manage.py Django的命令行管理工具，用于启动服务，数据库同步，创建管理员等操作</p>
<p>templates(目录) 放置静态web文件，比如html css js 图片</p>
<p>运行django</p>
<p>python manage.py runserver</p>
<p>创建项目app</p>
<p>python manage.py startapp jianyidjango</p>
<p>就会在djangocms目录下面出现一个新目录 jianyidjango</p>
<p>然后打开新目录，就可以看到各个py文件</p>
<p>整个项目文件就创建好了，接下来往里面填充内容</p>
<p>Django第一个项目</p>
<p>项目描述</p>
<p>DjangoCMS用户信息管理系统</p>
<p>\1.   当用户访问主页时，看到用户欢迎页</p>
<p>\2.   点击用户欢迎页里面的主页按钮，能够跳转到用户管理页</p>
<p>\3.   用户管理页需要具备信息的增删改功能，并且能够跳转到用户欢迎页和用户列表页</p>
<p>\4.   点击用户管理页的查询用户列表按钮，可以跳转到用户列表页</p>
<p>第一步：新建app </p>
<p>python3 nanage.py startapp jianyidjango</p>
<p>第二步：欢迎页实现</p>
<p>views编写</p>
<pre data-lang="python" style="background-color:#2b303b;color:#c0c5ce;" class="language-python "><code class="language-python" data-lang="python"><span style="color:#b48ead;">from </span><span>django.http </span><span style="color:#b48ead;">import </span><span>HttpResponse</span><span>
</span><span style="color:#b48ead;">def </span><span style="color:#8fa1b3;">welcome</span><span>(</span><span style="color:#bf616a;">request</span><span>):</span><span>
</span><span>	</span><span style="color:#b48ead;">return </span><span style="color:#bf616a;">HttpResponse</span><span>(&#39;</span><span style="color:#a3be8c;">欢迎您的访问！</span><span>&#39;)</span><span>
</span></code></pre>
<p>urls映射</p>
<pre data-lang="python" style="background-color:#2b303b;color:#c0c5ce;" class="language-python "><code class="language-python" data-lang="python"><span style="color:#b48ead;">from </span><span>jianyidjango.views </span><span style="color:#b48ead;">import </span><span>welcome</span><span>
</span><span>urlpatterns = [</span><span>
</span><span>	</span><span style="color:#bf616a;">path</span><span>(&#39;</span><span style="color:#a3be8c;">admin/</span><span>&#39;, admin.site.urls),</span><span>
</span><span>	</span><span style="color:#bf616a;">path</span><span>(&#39;&#39;, welcome),</span><span>
</span></code></pre>
<p>views进化</p>
<pre data-lang="python" style="background-color:#2b303b;color:#c0c5ce;" class="language-python "><code class="language-python" data-lang="python"><span style="color:#b48ead;">def </span><span style="color:#8fa1b3;">welcome</span><span>(</span><span style="color:#bf616a;">request</span><span>):</span><span>
</span><span>	</span><span style="color:#b48ead;">return </span><span style="color:#bf616a;">HttpResponse</span><span>(&#39;</span><span style="color:#a3be8c;">&lt;h1&gt;欢迎您的访问！&lt;/h1&gt;&lt;p&gt;点击以下的链接，可以进入jianyidjango主页！&lt;/p&gt;</span><span>&#39;) </span><span>
</span><span style="color:#b48ead;">def </span><span style="color:#8fa1b3;">welcome</span><span>(</span><span style="color:#bf616a;">request</span><span>):</span><span>
</span><span>	content=&#39;</span><span style="color:#a3be8c;">&lt;h1&gt;欢迎您的访问！&lt;/h1&gt;&lt;p&gt;点击以下的链接，可以进入jianyidjango主页！&lt;/p&gt;</span><span>&#39;</span><span>
</span><span>	</span><span style="color:#b48ead;">return </span><span style="color:#bf616a;">HttpResponse</span><span>(content)</span><span>
</span></code></pre>
<p>因为在vscode中，需要自己手工创建templates目录。所以就需要在settings.py中设置templates路径</p>
<p>templates创建的时候，要放在和jianyidjango同一级目录下</p>
<p><img src="images/Django/clip_image001.png" alt="img" /></p>
<p>render和HTTPresponse的区别</p>
<p>首先在django中使用他们需要导入
from django.http import HttpResponse
from django.shortcuts import render, redirect</p>
<p>1、HttpResponse
作用：内部传入一个字符串参数，然后发送给浏览器</p>
<p>2、render
render可以接受三个参数：
一个是 request参数
一个是html模板文件
一个是保存具有数据的字典参数。 如：{key:value}形式
作用：将数据以字典形式填充到html模板文件中，最后将结果返回给浏览器</p>
<p>3、redirect
redirect 是重定向函数 调用函数后直接跳转到url地址
作用：接受一个url参数，表示让浏览器条专区制定的url
redirect 是 HttpResponsedirect 的缩写
例：return redirect(’/www.baidu.com/’) 里面的url是一个绝对地址
reverse是反向解析
return redirect(reverse(“week:index”))</p>
<p>index.html设置</p>
<pre data-lang="html" style="background-color:#2b303b;color:#c0c5ce;" class="language-html "><code class="language-html" data-lang="html"><span>&lt;!</span><span style="color:#b48ead;">DOCTYPE </span><span style="color:#d08770;">html</span><span>&gt;</span><span>
</span><span>&lt;</span><span style="color:#bf616a;">html </span><span style="color:#d08770;">lang</span><span>=&quot;</span><span style="color:#a3be8c;">en</span><span>&quot;&gt;</span><span>
</span><span>&lt;</span><span style="color:#bf616a;">head</span><span>&gt;</span><span>
</span><span>	&lt;</span><span style="color:#bf616a;">meta </span><span style="color:#d08770;">charset</span><span>=&quot;</span><span style="color:#a3be8c;">UTF-8</span><span>&quot;&gt;</span><span>
</span><span>    &lt;</span><span style="color:#bf616a;">title</span><span>&gt;jianyidjango主页&lt;/</span><span style="color:#bf616a;">title</span><span>&gt;</span><span>
</span><span>&lt;/</span><span style="color:#bf616a;">head</span><span>&gt;</span><span>
</span><span>&lt;</span><span style="color:#bf616a;">body</span><span>&gt;</span><span>
</span><span>	&lt;</span><span style="color:#bf616a;">h1</span><span>&gt;jianyidjango主页&lt;/</span><span style="color:#bf616a;">h1</span><span>&gt;</span><span>
</span><span>	&lt;</span><span style="color:#bf616a;">h3</span><span>&gt;填写你的个人信息到以下表单&lt;/</span><span style="color:#bf616a;">h3</span><span>&gt;</span><span>
</span><span>	&lt;</span><span style="color:#bf616a;">form </span><span style="color:#d08770;">method</span><span>=&quot;</span><span style="color:#a3be8c;">POST</span><span>&quot; </span><span style="color:#d08770;">action</span><span>=&quot;</span><span style="color:#a3be8c;">#</span><span>&quot;&gt;</span><span>
</span><span>		&lt;</span><span style="color:#bf616a;">input </span><span style="color:#d08770;">type</span><span>=&quot;</span><span style="color:#a3be8c;">text</span><span>&quot; </span><span style="color:#d08770;">placeholder</span><span>=&quot;</span><span style="color:#a3be8c;">请输入姓名</span><span>&quot;&gt;</span><span>
</span><span>		&lt;</span><span style="color:#bf616a;">input </span><span style="color:#d08770;">type</span><span>=&quot;</span><span style="color:#a3be8c;">password</span><span>&quot; </span><span style="color:#d08770;">placeholder</span><span>=&quot;</span><span style="color:#a3be8c;">请输入密码</span><span>&quot;&gt;</span><span>
</span><span>        &lt;</span><span style="color:#bf616a;">input </span><span style="color:#d08770;">type</span><span>=&quot;</span><span style="color:#a3be8c;">submit</span><span>&quot; </span><span style="color:#d08770;">value</span><span>=&quot;</span><span style="color:#a3be8c;">提交</span><span>&quot;&gt;</span><span>
</span><span>	&lt;/</span><span style="color:#bf616a;">form</span><span>&gt;</span><span>
</span><span>&lt;/</span><span style="color:#bf616a;">body</span><span>&gt;</span><span>
</span><span>&lt;/</span><span style="color:#bf616a;">html</span><span>&gt;</span><span>
</span></code></pre>
<p>list.html</p>
<p>数据库设置</p>
<p>首先在settings.py中先注册app</p>
<p><img src="images/Django/image-20200827170945361.png" alt="image-20200827170945361" /></p>
<p>在mysql数据库中，通过命令 create database jianyidjango; 创建数据库</p>
<p>查看数据库的命令 show databases；</p>
<p>然后在settings.py设置数据库：</p>
<p><img src="images/Django/image-20200827171011806.png" alt="image-20200827171011806" /></p>
<p>数据库迁移</p>
<p>Python3 manage.py makemigrations</p>
<p>Python3 manage.py migrate</p>
<p>model配置</p>
<p>model里面配置的类，在数据库中会显示成数据表，类里面的变量是数据表中表项。</p>
<p><img src="images/Django/image-20200827171102141.png" alt="image-20200827171102141" /></p>
<p>实现查询、增加功能</p>
<p>views配置</p>
<p><img src="images/Django/image-20200827171122413.png" alt="image-20200827171122413" /></p>
<p><img src="images/Django/image-20200827171139018.png" alt="image-20200827171139018" /></p>
<p>index.html设置</p>
<p><img src="images/Django/image-20200827171155055.png" alt="image-20200827171155055" /></p>
<p>list.html设置</p>
<p><img src="images/Django/image-20200827171210319.png" alt="image-20200827171210319" /></p>
<p>再次执行数据库迁移</p>
<p>Python3 manage.py makemigrations</p>
<p>Python3 manage.py migrate</p>
<p>然后在index页面添加用户，在list查看有没有效果</p>
<p>最后再设置一个删除页 delete.html</p>
<p><img src="images/Django/image-20200827171409871.png" alt="image-20200827171409871" /></p>
<p>设置views.py</p>
<p><img src="images/Django/image-20200827171422081.png" alt="image-20200827171422081" /></p>
<p>设置urls.py</p>
<p><img src="images/Django/image-20200827171434711.png" alt="image-20200827171434711" /></p>
<p>如果需要可以设置页面跳转效果</p>
<p>总结：</p>
<ol>
<li>所有的html文件都要放在templates目录下，默认是无法访问的</li>
<li>新的页面要被访问，必须编写views的视图函数，然后在urls做映射</li>
<li>页面之间的跳转，基于a链接来实现，href设置的时候通过模板变量{% url ‘welcome’%}</li>
<li>views中处理http请求的时候，可以通过HTTPResponse、render、HTTPResponseRedirct等方式来实现</li>
<li>在form表单中，通过模板变量{% csrf_token %}来保证安全性，生成随机数</li>
<li>通过数据库可以实现动态网站，网站内容随着后台数据库的改变而改变</li>
</ol>
<p>ORM概述</p>
<p>什么是ORM？</p>
<p>Python是开发语言，数据可以MySQL采用的数据库语言，这两种语言之间如何实现互操作？</p>
<p>ORM</p>
<p>object relational mapping 对象关系映射</p>
<p>用于实现数据库和编程语言之间的映射，ORM就是将SQL操作和编程语言操作做了一个翻译。</p>
<p>通过ORM技术来操作数据库，使得开发者无需接触SQL语句，而是直接操作对象的属性和方法，大大提高开发效果。</p>
<p><img src="images/Django/clip_image002.png" alt="img" /></p>
<p>ORM功能</p>
<p><img src="images/Django/clip_image004.png" alt="img" /></p>
<p>①  映射技术：每一张数据库表对应的是开发语言中的类，每一个数据字段，对应的是类中的属性</p>
<p>②  CRUD操作：即增删查改操作，在SQL语句中通过insert select update delete来实现，在djangoORM中通过get filter save delete方法（函数）来实现</p>
<p>③  缓存优化：从数据库查询到的数据以类形式保存在内存中，用于随时提取。</p>
<p>真正需要查询结果时才执行数据库的select操作，而不是在ORM查询命令执行时就查询数据库</p>
<p>有哪些ORM技术？</p>
<p>不同的后端语言都有自己的ORM，django的orm叫DjangoORM，通过创建model类和定义field字段来实现</p>
<p>model创建语法</p>
<p>先导入模块</p>
<p>from Django.db import models</p>
<p>class Modelname(models.Model): #创建类并继承models.Model</p>
<p>​    #通过models.XXXField创建field字段</p>
<p>​    field1=models.XXXField(verbose_name=’xxx’,max_length=xxx)</p>
<p>​    #定义子类，为父类添加说明</p>
<p>​    class Meta:</p>
<p>​       verbose_name=xxx</p>
<p>​       verbose_name_plural=xxx</p>
<p>属性及字段</p>
<p>Field类型</p>
<p>AutoField：一个自动递增的整型字段，添加记录时它会自动增长，通常用于数据表的主键</p>
<p>CharField：字符串字段，用于输入较短的字符</p>
<p>TextField：文本字段</p>
<p>EmailField：邮箱字段，用于输入带有email格式的字符</p>
<p>DateTimeField：日期字段，支持时间输入</p>
<p>ImageField：用于上传图片并验证图片的合法性，必须定义upload_to参数</p>
<p>IntergerField：整数字段</p>
<p>每个表都应该有一个主键，并且只能有一个。主键有两个作用，一是约束作用，用来规范一个存储主键和唯一性，同时也在此键上建立了一个主键索引；</p>
<p>主键的约束作用：</p>
<p>唯一标识数据库表中的每条记录</p>
<p>必须包含唯一值</p>
<p>主键列不能包含null值</p>
<p>Field属性：</p>
<p>primary_key：定义此字段是否为主键 True or False</p>
<p>default：设置默认值</p>
<p>null：是否容许数据库字段为Null，默认是False</p>
<p>blank：是否容许用户不输入，默认false</p>
<p>choices：设置该字段的可选值</p>
<p>max_length：一般在文本字段来设置</p>
<p>verbose_name：设置字段的别名，所有字段都可以设置</p>
<p>upload_to：设置上传路径，ImageField和FileField需要设置此参数</p>
<p>Meta类属性</p>
<p>verbose_name：设置对象名称，如果没有设置，则默认为该类名的小写分词形式</p>
<p>UserCMS 会被转换为 user cms</p>
<p>verbose_name_plural 设置对象名称的复数，一般设置成和verbose_name一样，否则会默认加s</p>
<p><img src="images/Django/clip_image006.png" alt="img" /></p>
<p>数据同步</p>
<p>全局同步</p>
<p>makemigrations 生成数据库表初始化文件initial.py</p>
<p>migrate 基于initial.py正式生成数据表</p>
<p>部分同步</p>
<p>makemigrations jianyidjango</p>
<p>Model操作</p>
<p>查询</p>
<p>ModelName.Objects.all() 查询类的所有数据</p>
<p>ModelName.Objects.filter() 返回符合筛选条件的数据集（一个或者多个对象）</p>
<p>ModelName.Objects.get() 返回符合筛选条件的数据（一个对象）</p>
<p>ModelName.Objects.exclude() 返回不符合筛选条件的数据</p>
<p>增加</p>
<p>ModelName.save()</p>
<p>ModelName.create()</p>
<p>删除</p>
<p>ModelName.Objects.all().delete() 查询所有对象并删除</p>
<p>ModelName.Objects.filter().delete()</p>
<p>ModelName.Objects.get().delete()</p>
<p>ModelName.Objects.exclude().delete()</p>
<p>排序</p>
<p>ModelName.Objects.all().order_by(‘xxx’) 查询类中的所有对象并根据关键词排序</p>
<p>切片</p>
<p>ModelName.Objects.all().order_by(‘xxx’)[a:b]</p>
<p>Admin（后台管理）</p>
<p>创建并注册模型管理类</p>
<p>进入admin.py文件，将models编写的类导入</p>
<p>继承admin.ModelAdmin,创建管理类</p>
<p>将类与管理类注册到admin</p>
<p><img src="images/Django/clip_image008.png" alt="img" /></p>
<p>创建admin超级用户</p>
<p>python3 manage.py createsuperuser</p>
<p><img src="images/Django/clip_image010.png" alt="img" /></p>
<p>登录后台管理平台</p>
<p>在settings.py设置admin后台管理语言为中文</p>
<p><img src="images/Django/clip_image011.png" alt="img" /></p>
<p>Views视图</p>
<p>views视图用于负责整个业务逻辑处理，包括从http请求到回应的过程</p>
<p>功能</p>
<p>根据收到的http Request，执行URL映射</p>
<p>根据url映射调用视图函数，调用models数据</p>
<p>渲染Templates网页文件并返回HTTP Response</p>
<p><img src="images/Django/clip_image013.png" alt="img" /></p>
<p>URL映射</p>
<p>每个Django项目至少有一个urls.py文件，该文件用于存储URL与视图函数的映射关系</p>
<p>url解析过程由django.conf.urls里面的url模块来实现的</p>
<p>url映射基于正则表达式来实现</p>
<p>正则表达式</p>
<p>^:以xxx开头，比如^admin </p>
<p>$:以xxx结尾，比如admin$</p>
<p>x|y：匹配x或者y，比如request|reply</p>
<p>[xyz]：匹配所包含的任意一个字符</p>
<p>[^xyz]: 匹配未包含的任意一个字符</p>
<p>[-]:匹配字符或者数字范围 [a-z],[0-9]</p>
<p>{n}：匹配n次 [0-9]{4}</p>
<p>\w:匹配包括下划线的任意单词字符等价于[a-zA-Z0-9]</p>
<p>\W:匹配包括非单词字符,等价于<sup class="footnote-reference"><a href="#a-zA-Z0-9">1</a></sup></p>
<p>\d:匹配一个数字字符</p>
<p>\d+：匹配一个或多个数字字符</p>
<p>\D：匹配一个非数字字符</p>
<p>在django 2.x.x版本中，如果要使用正则表达式的话，要使用函数re_path()</p>
<p><img src="images/Django/clip_image015.png" alt="img" /></p>
<p>URL映射分类</p>
<p>反向URL映射（命名）</p>
<p>通过name属性为url映射条目设置名称，可以在templates和views处理中，解析到对应的view函数</p>
<p>在templates模板文件中，通过{% url 变量名 %}设置URL映射，然后解析到对应的view函数</p>
<p>在views配置中，通过reverse、render等方法来映射到对应的views函数</p>
<p>带命名参数的URL映射</p>
<p>分布式URL映射（一般用于大型项目中）</p>
<p>视图函数</p>
<p>当用户发起http Request到web服务器时，django执行url映射之后，接下来的任务就交给视图函数来处理</p>
<p>视图函数可以调用models的数据（可选）,并渲染templates网页文件，最终返回给用户</p>
<p>视图函数可以通过下面的方式来处理用户请求，并返回HTTPResponse</p>
<p>render 返回html文件并传递参数</p>
<p>HTTPResponse 直接返回内容</p>
<p>HTTPResponseRedirect 重定向到另外的页面 302</p>
<p>HTTPResponseNotFound 返回404</p>
<p>HTTPResponseServerError 返回500</p>
<p>视图函数写法分为基于函数的和基于类的</p>
<p><img src="images/Django/clip_image017.png" alt="img" /></p>
<p>View类继承自django自带的基类base.View,自带get和postt方法，直接在此基础上重构即可</p>
<p>View类相比函数可以封装更多的方法，方便后期继承和拓展，实现更加复杂的功能</p>
<p>templates模块</p>
<p>templates负责整个表现逻辑，通过内置的模板语言结合html文件，为用户呈现web内容；</p>
<p>templates模板系统是一个独立的语言库，除了与HTML文件结合，也可以与其他文本格式的文档结合，甚至可以独立运行</p>
<p>templates模板系统通过模板标签、过滤器、流程控制、模板继承等方式，实现了web页面的动态展现</p>
<p>逻辑标签</p>
<p>{% if %} 用于实现逻辑判断</p>
<pre style="background-color:#2b303b;color:#c0c5ce;"><code><span>{% if request.user %}</span><span>
</span><span>	&lt;div class=’top1’&gt;&lt;/div&gt;</span><span>
</span><span>{% else %}</span><span>
</span><span>	&lt;div class=’top2’&gt;&lt;/div&gt;</span><span>
</span><span>{% endif %}</span><span>
</span></code></pre>
<p>{% for %}用于实现循环/遍历</p>
<p><img src="images/Django/clip_image019.png" alt="img" /></p>
<p>模板变量</p>
<p>{{ }}</p>
<p>用于存储模板变量，变量内容可以直接从views函数获取，也可以通过if/for标签来获取</p>
<p>通过模板变量，可以实现网页内容的动态展现</p>
<p><img src="images/Django/clip_image021.png" alt="img" /></p>
<p><img src="images/Django/clip_image022.png" alt="img" /></p>
<p>{% url ‘url_name’%}</p>
<p>跳转到特定url映射的模板变量，变量内容用url_name决定的</p>
<p><img src="images/Django/clip_image024.png" alt="img" /></p>
<p>过滤器</p>
<p>就在变量后面加上管道符合过滤关键字，可以对模板内容实现进一步的过滤</p>
<p>slice</p>
<p>length</p>
<p>add</p>
<p>upper</p>
<p>lower</p>
<p>date</p>
<p>title</p>
<p>{{ name | upper}}</p>
<p>模板继承</p>
<p>属于templates高级功能，通过模板继承能最大程度的减少代码量</p>
<p>当网站的很多页面，header footer aside 等html组件非常类似甚至完全一样，只有少量的组件有差别时，可以采用模板继承</p>
<p>{% block block_name %}可替代内容{% endblock %}</p>
<p>{% extends ‘welcome.html’%} 继承语法</p>
<p>模板调用</p>
<p>html文件放在jianyidjango项目的根目录templates下</p>
<p>setting配置</p>
<p><img src="images/Django/clip_image002-1598685360641.png" alt="img" /></p>
<p>css/js/img文件</p>
<p>jianyidjango下新建一个static目录，将这些文件放在static目录下</p>
<p>然后在setting设置static路径</p>
<p><img src="images/Django/clip_image004-1598685360642.png" alt="img" /></p>
<p>templates配置</p>
<p><img src="images/Django/image-20200829151616005.png" alt="image-20200829151616005" /></p>

    </div>

    
        <footer>
            <hr>
            <p>
                
                    Published by Baz
                
                
                    
                    in <a href="https://baz.ee/categories/an-quan/">安全</a>
                
                
            </p>
            
            
        </footer>
    
</article>


    </body>

</html>
